In [217]:
import pandas as pd
import os.path

In [218]:
data = pd.read_csv("/home/alice/Documents/Project/info_extraction/data/doc_information _all_s_ BIS_r2.csv", sep=None)

Using Python parser to sniff delimiter

In [219]:
data.shape

(3997, 25)

In [220]:
data.columns

Index(['Unnamed: 0', 'id.of.documents', 'country', 'appeal.code', 'date.of.document', 'CTP', 'Number.of.beneficiaries', 'CTP.budget', 'Number.of.CTP.beneficiaries', 'CTP.budget.source', 'Budget.relief.items..construction.and.supplies', 'Budget.relief.fields.names', 'CTP.extract.1', 'CTP.extract.2', 'CTP.extract.3', 'Appeal', 'DREF', 'name', 'document.name', 'file.name', 'url', 'url.status', 'glide.number', 'type.of.event', 'date.of.event'], dtype='object')

In [221]:
data["file.name"].head(800)

0      - Global - 010198 01Jan1998.pdf
1      - Global - 010199 01Jan1999.pdf
2      - Global - 010298 01Jan1998.pdf
3      - Global - 010299 01Jan1999.pdf
4      - Global - 010398 01Jan1998.pdf
5      - Global - 010498 01Jan1998.pdf
6     - Global - 0110003 01Sep2003.pdf
7     - Global - 0110004 01Jan2004.pdf
8     - Global - 0110103 01Jun2003.pdf
9     - Global - 0110104 01Jan2004.pdf
10    - Global - 0110203 01Sep2003.pdf
11    - Global - 0110204 01Jan2004.pdf
12    - Global - 0110303 01Sep2003.pdf
13    - Global - 0110304 21Jul2004.pdf
14     - Global - 012598 01Jan1998.pdf
...
785    Central African Republic MDRCF017 25Feb2014.pdf
786    Central African Republic MDRCF018 01May2015.pdf
787    Central African Republic MDRCF018 27Mar2015.pdf
788    Central African Republic MDRCF018 27Nov2014.pdf
789    Central African Republic MDRCF018 30Aug2014.pdf
790    Central African Republic MDRCF019 12Aug2015.pdf
791    Central African Republic MDRCF019 14May2015.pdf
792    Central African Republic MDRCF019 27Nov2015.pdf
793    Central African Republic MDRCF019 30Mar2016.pdf
794    Central African Republic MDRCF020 19Feb2016.pdf
795    Central African Republic MDRCF020 21Apr2016.pdf
796    Central Europe and Balkans 013498 01Jan1998.pdf
797    Central Europe and Balkans 013699 01Jan1999.pdf
798    Central Europe and Balkans 013999 01Jan1999.pdf
799    Central Europe and Balkans 014202 01Jan2002.pdf
Name: file.name, Length: 800, dtype: object

In [222]:
sample = data.head(2)

In [223]:
sample

,Unnamed: 0,id.of.documents,country,appeal.code,date.of.document,CTP,Number.of.beneficiaries,CTP.budget,Number.of.CTP.beneficiaries,CTP.budget.source,Budget.relief.items..construction.and.supplies,Budget.relief.fields.names,CTP.extract.1,CTP.extract.2,CTP.extract.3,Appeal,DREF,name,document.name,file.name,
0,1,- Global - 010198 01Jan1998.txt,- Global -,010198,01Jan1998,no,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,True,False,Disaster Relief Emergency Fund - appeal 1998 (...,Annual appeal,- Global - 010198 01Jan1998.pdf,...
1,2,- Global - 010199 01Jan1999.txt,- Global -,010199,01Jan1999,no,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,True,False,Disaster Relief Emergency Fund - appeal 1999 (...,Annual appeal,- Global - 010199 01Jan1999.pdf,...

In [224]:
new_CTP = data.loc[(data["CTP"]=="yes")]

In [225]:
new_CTP.shape

(404, 25)

In [226]:
new_CTP.columns

Index(['Unnamed: 0', 'id.of.documents', 'country', 'appeal.code', 'date.of.document', 'CTP', 'Number.of.beneficiaries', 'CTP.budget', 'Number.of.CTP.beneficiaries', 'CTP.budget.source', 'Budget.relief.items..construction.and.supplies', 'Budget.relief.fields.names', 'CTP.extract.1', 'CTP.extract.2', 'CTP.extract.3', 'Appeal', 'DREF', 'name', 'document.name', 'file.name', 'url', 'url.status', 'glide.number', 'type.of.event', 'date.of.event'], dtype='object')

In [227]:
sum(data.CTP.isnull())

0

In [228]:
#data["CTP"]

In [230]:
l =[]
for i in data["CTP"]:
    if i == "yes":
        l.append(i)
print(len(l))

404

In [231]:
real_data = os.chdir("/home/alice/Documents/Project/info_extraction/scraped_data/files_in_txt/")

In [157]:
os.getcwd()

'/home/alice/Documents/Project/info_extraction/scraped_data/files_in_txt'

In [158]:
len(os.listdir())

1261

In [163]:
#list of real data, I created it manually 
txt_data = pd.read_csv("/home/alice/Documents/Project/info_extraction/listoftxt_files.csv", sep=None)

Using Python parser to sniff delimiter

In [27]:
txt_data["File_names"].head()

0        'Tanzania MDRTZ016 10Mar2015.txt',
1         'Somalia MDRSO003 24Apr2015.txt',
2     'Afghanistan MDRAF003 05Nov2015.txt',
3            'Philippines 0 18Dec2015.txt',
4            'Peru MAAPE002 01May2015.txt',
Name: File_names, dtype: object

In [28]:
txt_data.shape

(1261, 2)

In [29]:
j = data["file.name"]
j[-5:]

3992    Zimbabwe MDRZW010 02Apr2015.pdf
3993    Zimbabwe MDRZW010 13Jan2015.pdf
3994    Zimbabwe MDRZW010 26Aug2015.pdf
3995    Zimbabwe MDRZW011 16Sep2015.pdf
3996    Zimbabwe MDRZW011 27Apr2016.pdf
Name: file.name, dtype: object

In [44]:
txt_data.File_names.shape

(1261,)

In [45]:
import re

In [176]:
txt_data.head(3)

       SerialNumber                                   File_names
0                          0     Tanzania MDRTZ016 10Mar2015.pdf
1                          1      Somalia MDRSO003 24Apr2015.pdf
2                          2  Afghanistan MDRAF003 05Nov2015.pdf

[3 rows x 2 columns]

In [177]:
data["file.name"].shape

(3997,)

In [178]:
to_strip = '\'" ,'
for i in range(len(txt_data)):
    txt_data.File_names[i] = txt_data.File_names[i].rstrip(to_strip).lstrip(to_strip)
    if txt_data.File_names[i].endswith('txt'):
        txt_data.File_names[i] = txt_data.File_names[i][:-3] + 'pdf'

In [211]:
cnt = 0
cnt_yes = 0
k =[]
l= []
for i, f in enumerate(data["file.name"]):
    #rint(i, f)
    if f in txt_data.File_names.values:
        cnt += 1
        if data.iloc[i].CTP == 'yes':
            cnt_yes += 1
        l.append(i)
        l.append(f)
#print(l)
    #k.append(f)
    k.append(f)
    #print(f)
        #print(len(l))
print(cnt, cnt_yes,f)

393 81 Zimbabwe MDRZW011 27Apr2016.pdf

In [216]:
cnt = 0
k =[]
for i, f in enumerate(data["file.name"]):
    #print(i, f)
    if f in txt_data.File_names.values:
        cnt += 1
    k.append(cnt)     
print(cnt, f)

393 Zimbabwe MDRZW011 27Apr2016.pdf

In [67]:
#cnt = 0
#for i in range(len(data)):
#    if data.iloc[i].CTP == 'yes':
#        cnt += 1
#cnt

In [77]:
yes_files= '/home/alice/Documents/Project/info_extraction/scraped_data/files_in_txt/yes/'

In [78]:
yes_files

'/home/alice/Documents/Project/info_extraction/scraped_data/files_in_txt/yes/'

# NAIVE BAYES

In [139]:
from shutil import copyfile

In [142]:
train_set = l
test_set =

In [137]:
from

In [ ]:
a = data.CTP
def new(data):
    for i in data.CTP:
        try:
            data[yes in data.CTP]
            print(data[yes in data["CTP"]])
        except:
            pass # "KeyError: no item named False"
    return i

In [ ]:
txt_data.File_names[